<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			{% if page.title %}
				{{ page.title }} &ndash;
			{% endif %}
			{{ site.name }}
		</title>
		<meta name="author" content="{{ site.name }}" />
		<meta name="description" content="{{ site.description }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="stylesheet" href="/css/syntax.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/fontawesome.min.css">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	</head>
	<body>
		<header>
			<div class="container">
				<a href="/">
					<img src="{{ site.gravatar_url }}?s=100" class="avatar" />
					<b>{{ site.name }}</b>
					<div class="social">
						<a href="https://github.com/{{ site.github }}" target="_blank"><i class="icon icon-github"></i></a>
						<a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="icon icon-twitter"></i></a>
						<a href="/atom.xml"><i class="icon icon-rss"></i></a>
					</div>
				</a>
				
			</div>
		</header>
		<nav class="container">
			<ul class="menu">
				<li><a href="/about.html">about</a></li>
				<li><a href="/projects.html">projects</a></li>
			</ul>
		</nav>
		<section class="container content">
			{{ content }}
		</section>
		<footer></footer>
	</body>
</html>